div {
    width: 86vw;
    height: 5vh;
    background-color: #003399;
    display: flex;

    p {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 1rem;
        color: #fff;
    }
}
